.category-heading {
    width: 100%;
    background-color: #f1f6f7;
    padding: 150px 0;
}

.category-heading h1 {
    text-align: center;
    margin-bottom: 10px;
}

.category-heading a {
    display: block;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
}

.category-heading a:hover {
    color: black;
}

.category-heading span {
    cursor: text;
    font-family: 'Poppins', sans-serif;
}

.category-heading span:hover {
    color: #007Bff;
}

/* ------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------- */

.thanks-message {
    margin-top: 100px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.thanks-message span {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #007Bff;
    font-family: 'Poppins', sans-serif;
}

.info-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-section .order-info {
    background-color: #0d62ff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    margin-bottom: 20px;
}

.info-section .order-info h5 {
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.order-info h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 2px 0px 0px;
}

.order-info p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

@media(max-width:1200px) and (min-width:1024px) {
    .order-info .payment-method {
        font-size: 12px;
        font-weight: bold;
    }
    .order-info .checkpayments {
        font-size: 12px;
        font-weight: bold;
    }
}

@media(max-width:320px) {
    .thanks-message span {
        font-size: 12px;
    }
    .order-info .payment-method {
        font-size: 12px;
    }
    .order-info .checkpayments {
        font-size: 12px;
    }
}

@media(max-width:767px) and (min-width:320px) {
    .thanks-message {
        width: 100%;
    }
}



/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */


.order-detail-section{
    padding-bottom: 100px;
}

.order-details{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0d62ff;
}
.order-details h1{
    color: #fff;
    font-size: 22px;
}
.order-details h5{
    font-size: 18px;
    text-align: left;
}

.order-details .order-details-content{
    margin-top: 10px;
}

.order-details .next-row{
    border-bottom: 1px solid grey;
}

.order-content h4{
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 5px 0;
}

.order-details h3{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 0;
}
.order-details .subtotal{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 5px 0;
}

.subtotal-flat{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 5px 0;
    font-size: 14px;
}
.order-content .item{
    text-align: left;
}

.order-details .heading{
    text-align: center;
}

.order-details .total{
    font-size: 20px;
}



@media(max-width:767px) and (min-width:414px)
{
    .order-content h4{
        font-size: 10px;
        font-weight: bold;
    }
    .order-details .subtotal-flat{
        font-size: 11px;
        font-weight: bold;
    }
}
@media(max-width:413px) and (min-width:375px)
{
    .order-content h4{
        font-size: 10px;
        font-weight: bold;
    }
    .order-details .subtotal-flat{
        font-size: 10px;
        font-weight: bold;
    }
}
@media(max-width:374px) and (min-width:360px)
{
    .order-content h4{
        font-size: 9px;
        font-weight: bold;
    }
    .order-details .subtotal-flat{
        font-size: 9px;
        font-weight: bold;
    }
}
@media(max-width:359px) and (min-width:320px)
{
    .order-content h4{
        font-size: 9px;
        font-weight: bold;
    }
    .order-details .subtotal-flat{
        font-size: 9px;
        font-weight: bold;
    }
}